.main {
    margin: 0px 35px 0px 35px;
}

.optionEdit {
    border: 0;
    background: 0;
}

.optionDelete {
    border: 0;
    color: red;
    background: 0;
}

.productImage img{
    width: 30px;
    height: 30px;
}